.d-block {
    height: 90%;
    width: 100%;
    position: -ms-page;
}

.botaoLogin-regitro {
    background-color: #05092B;
    border-radius: 8px;
    font-size: large;
    margin-right: 10px;
}

.BemVindo {
    background-color: #C41632;
    max-width: 1000px;
    height: auto;
    padding: 10px;
    border-radius: 20px
}

.img-radius {
    border-radius: 20px;
}