@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

footer a:hover {
    text-decoration: underline;
    color: #05092B;
}

.esconder {
    display: none;
}

.texto-titulo-header {
    color: white !important;
    font-size: 30px;
    font-weight: bold;
    float: middle;
    margin-left: 140px;
}

* {
    font-family: 'Comfortaa', cursive;
}

p,
div,
span {
    font-weight: 500;
    color: white;
}

h1 {
    font-weight: 500;
    font-size: 32px;
}

h2 {
    font-weight: 500;
    font-size: 26px;
}

.foto-perfil {
    border-width: 100px !important;
    border-color: white;
}

.footer-site {
    background-color: #C41632 !important;
}

.icone-rodape {
    margin-left: 20px;
}

a svg:hover {
    opacity: 70%;
}

.icone-rodape2 {
    margin-left: 10px;
}

.vermelho {
    color: #C41632;
}

.azul-escuro {
    background-color: #05092A;
}

.alinha-centro {
    text-align: center;
}

.titulos-menu {
    color: white;
    font-size: 20px;
}

.itens-menu {
    color: white;
}

.itens-menu:hover {
    background-color: #19C416;
    color: white !important;
}

@media (min-width: 768px) {

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}

@media(max-width:768px) {

    .menu-footer {
        display: none;
    }

    .texto-titulo-header {
        margin-left: 0px !important;
    }

    .esconder {
        display: block;
    }

}