@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}


.box2 label {
  display: block;
  margin: 5px 10px;
  color: white
}

.esconder {
  display: none;
}

.box,
.box1,
.box2 {
  /* width: 95%; */
  height: 230px;
  left: 0px;
  top: 74px;
  margin: 0 20px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0px 0px 20px #000000;
}

.box h2 {
  color: white;
  padding: 5px;
}

.box1 {
  margin: 40px 20px;
  height: 200px;
}

.box2 {
  margin: 40px 20px;
  height: 350px;
  margin-bottom: 150px;
}

.box {
  height: 450px;
}

.box select {
  margin: 10px;
  color: black;
  text-align: center;
  font-weight: bold;
  overflow-y: hidden;

}


.CampoNotificacao {
  padding: 5px;

}

.CampoNotificacao,
textarea {
  width: 97%;
  margin: 5px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #C41632;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.titulo-principal {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-top: 30px;
  /* text-shadow: 2px 2px 2px rgba(204, 174, 27, 0.811); */
  color: white;
}

.principal p {
  font-size: 16px;
  line-height: 18px;
  margin: 20px;
  color: white;
  text-align: center
}

.texto p {
  color: white;
  margin: 20px;
  position: fixed;
  bottom: 120px;

}

form label {
  display: block;
  margin: 5px 10px;
  color: white
}

.CampoNotificacao {
  padding: 5px;

}

textarea,
input {
  margin: 5px 14px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #C41632;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

button {

  text-align: center;
  cursor: pointer;
  background-color: #19C416;
  color: #FFFFFF;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  margin: 10px 45%;

}

.atualizar {
  background-color: #1199CC;
}

.deletar {
  background-color: #C41632;
}


footer a:hover {

  text-decoration: underline;
  color: #05092B;
}

/* ESTILO DP CAIO */

.texto-titulo-header {
  color: white !important;
  font-size: 30px;
  font-weight: bold;
  float: middle;
  margin-left: 140px;
}

* {
  font-family: 'Comfortaa', cursive;

}

p,
div,
span {
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-weight: 500;
  font-size: 32px;
}

h2 {
  font-weight: 500;
  font-size: 26px;
}

button:hover {
  background-color: #19C416;
  color: white;
  transform: scale(1.2);
  border-radius: 8px;
}

.atualizar:hover {

  background-color: #1199CC;
  color: white;
  transform: scale(1.2);
  border-radius: 8px;
}

.deletar:hover {
  background-color: #C41632;
  color: white;
  transform: scale(1.2);
  border-radius: 8px;
}

body {
  background-color: #05092B;
}

.foto-perfil {
  border-width: 100px !important;
  border-color: white;
}

.footer-site {
  background-color: #C41632 !important;
}

.icone-rodape {
  margin-left: 20px;
}

a svg:hover {
  opacity: 70%;
}

.icone-rodape2 {
  margin-left: 10px;
}

.vermelho {
  color: #C41632;
}

.azul-escuro {
  background-color: #05092A;
}

.alinha-centro {
  text-align: center;
}

.titulos-menu {
  color: white;
  font-size: 20px;
}

.itens-menu {
  color: white;
}

.itens-menu:hover {
  background-color: #19C416;
  color: white !important;
}

.selectBox {
  position: relative;
}

.selectBox select {
  /* width: 100%; */
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  /* border: 1px #dadada solid; */
}


#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

@media (min-width: 768px) {

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

}

@media(max-width:768px) {

  .menu-footer {
    display: none;
  }

  .texto-titulo-header {
    margin-left: 0px !important;
  }

  .esconder {
    display: block;

  }

  .imagemImput button {
    float: none;
    width: 50px;
  }

  .imagemImput {
    width: 250px;
  }


  form input {
    padding: 10px;
  }

  .principal p {
    text-align: left;
    margin: 16px;
  }

  .texto p {
    bottom: 20px;
  }

  .CampoNotificacao,
  textarea {
    width: 70%;

  }

  .box {
    height: 500px;
  }

  .errors {
    color: red;
    margin: 5px 10px;
  }

  .titulo-principal {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-top: 30px;
    /* text-shadow: 2px 2px 2px rgba(204, 174, 27, 0.811); */
    color: white;
  }

  .box2 {
    height: 350px;
  }

  button {
    margin-bottom: 50px;
    margin: 10px 25%;
  }
}