<!doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="bootstrap.css">
    <title>Flare | Preferências de Notificação</title>
    <link rel="stylesheet" href="/css/bem-vindo.css">

</head>

<div class="b-example-divider"></div>

<header class="py-3 mb-3 border-bottom" style="background-color: #C41632;">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="dropdown ">
            <a href="#"
               class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-light text-decoration-none dropdown-toggle"
               id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">

                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="white"
                     enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                    <path d="M5 7h14c.6 0 1-.4 1-1s-.4-1-1-1H5C4.4 5 4 5.4 4 6S4.4 7 5 7zM5 13h14c.6 0 1-.4 1-1s-.4-1-1-1H5c-.6 0-1 .4-1 1S4.4 13 5 13zM5 19h14c.6 0 1-.4 1-1s-.4-1-1-1H5c-.6 0-1 .4-1 1S4.4 19 5 19z"/>
                </svg>

            </a>
            <ul class="dropdown-menu text-small shadow azul-escuro alinha-centro" aria-labelledby="dropdownNavLink">
                <span class="titulos-menu">Principais</span>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
                <li><a class="dropdown-item itens-menu" href="#" aria-current="page">Portal EMGE</a></li>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
                <li><a class="dropdown-item itens-menu" href="#">Portal Dom</a></li>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
                <span class="titulos-menu ">Cursos</span>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
                <li><a class="dropdown-item itens-menu" href="#">Ciências da Computação</a></li>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
                <span class="titulos-menu">Favoritos</span>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
                <li><a class="dropdown-item itens-menu" href="#">Eventos</a></li>
                <li>
                    <hr class="dropdown-divider vermelho">
                </li>
            </ul>
        </div>

        <div class="d-flex align-items-center">

            <div class="w-100 me-2">

                <span class="texto-titulo-header align-items-center">Flare</span>

            </div>


            <div class="flex-shrink-0 dropdown">
                <img src="/images/presleyson.png" alt="Foto de perfil" width="50" height="50" class="rounded-circle">
            </div>
        </div>
    </div>
</header>

<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<h1 class="texto-titulo-pagina espaco-mobile">Bem vindo(a), <span class="texto-titulo-pagina espaco-mobile" th:text="${name}"></span>!</h1>

<!--Lembrar de incluir a variável que pega o nome e função do usuário-->

<div class="d-flex corpo-tela">

    <img src="/images/presleyson.png" alt="Foto de perfil" width="130" height="130"
         class="rounded-circle foto-perfil mx-auto text-center">

</div>

<div class="mx-auto text-center botoes-bem-vindo espaco-mobile">

    <a href="/notification/historic"><button class="botao" type="button">Histórico de notificações</button></a>
    <br>
    <a href="/configuracoes"><button class="botao" type="button">Preferências de notificações</button></a>
    <br>
    <a href="#"><button class="botao" type="button">Canais de comunicação</button></a>
</div>


<footer>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark footer-site">
        <div class="container-fluid">
            <span class="footer-emge">EMGE</span>
        </div>
        </div>
    </nav>
</footer>

</body>


</html>