<!doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="~{base :: head(~{::title},~{::link})}">

    <link rel="stylesheet" href="/css/historico.css">
    <title>Flare | Histórico de Notificação</title>

</head>

<div class="b-example-divider"></div>

<header th:replace="~{base :: header}"></header>

<body class>

    <main>
        <section class="principal">
            <div class="box">

                <a href=""><img class="refresh" src="/images/refresh.png"></a>
                <h1 class="titulo-principal">Histórico de Notificações </h1>
                <form>

                    <select>
                        <option>Todos</option>
                        <option>Ciência da Computação</option>
                        <option>Arquitetura</option>
                        <option>Direito</option>
                        <option>Engenharia Civil</option>
                    </select>

                    <input type="submit" value="Não lidas" class="filtro">

                </form>
            </div>
        </section>
    </main>

    <div th:each="notificacao : ${notificacoes}">
        <span th:text="${notificacao.title}"></span>
        <span th:text="${notificacao.message}"></span>
        <span th:text="${#temporals.format(notificacao.date, 'dd/MM')}"></span>
    </div>

</body>

<footer th:replace="~{base :: footer}"></footer>

</html>