<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login.css">
    <title>Flare | Login</title>
</head>

<body class="body_escuro">
    <div class="container_espaco_logo">
        <img src="/images/fundo_com_logo.svg" id="logo" alt="Logo Flare">
    </div>

    <div class="div_botao">
        <p id="p_acesso" class="comfortaa-light">Faça seu acesso pelo Teams</p>

        <button class="btn_login comfortaa-bold" type="button"><img src="images/icons8-office-365.svg" id="icone-office"> Log-in</button>
    </div>
    <div class="div_emge_dhc">
        <img src="/images/logo_emge_dhc.png" id="emge_dhc">
    </div>
</body>

</html>