<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login.css">
    <script src="/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <title>Flare | Login</title>
</head>

<body>

    <img id="change_theme" class="float-right" src="/images/dark_mode.svg" alt="troca de tema" onclick="toggleTheme()">

    <div class="container_espaco_logo">
        <img src="/images/fundo_com_logo.svg" id="logo" alt="Logo Flare">
    </div>

    <div class="div_botao">
        <p id="p_acesso" class="comfortaa-light">Faça seu acesso pelo Teams</p>

        <button class="btn_login comfortaa-bold" type="button"><img src="images/icons8-office-365.svg"
                id="icone-office"> Log-in</button>
    </div>

    <div class="div_emge_dhc">
        <img src="/images/logo_emge_dhc.png" id="emge_dhc">
    </div>
</body>

</html>

<!-- imagens/icone_office.svg -->