<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Registre-se</title>
    <link rel="shortcut icon" href="/images/flare-logo.png">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/registrar.css">
</head>

<body>
    <header class="fixed-top navbar-light text-center">
        <a class="text-white" style="text-decoration: none;">
            <h4 class="comfortaa-bold" style="padding-top: 8px">Flare</h4>
        </a>
    </header>

    <div class="container container-center">
        <section>
            <div class="container text-center" style="margin-top: 80px; margin-bottom: 50px;">
                <img src="/images/flare-logo.png" alt="Flare" width="200px" height="auto">
                <br>
            </div>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <br>
                    <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo">
                </div>
                <div class="form-group">
                    <br>
                    <input type="text" class="form-control" id="user" placeholder="Usuário">
                </div>
                <div class="form-group">
                    <br>
                    <input type="password" class="form-control" id="password" placeholder="Senha">
                </div>
                <div class="form-group">
                    <br>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirme a Senha">
                </div>
                <div class="form-check">
                    <br>
                    <input type="checkbox" class="form-check-input" id="checkRule" checked>
                    <label class="form-check-label" for="checkRule">Li e concordo com os Termos de uso e política de privacidade.</label>
                </div>

                <div class="container text-center">
                    <br>
                    <button type="submit" class="btn btn-flare">Confirmar Cadastro</button>
                    <br>
                    <br>
                </div>
            </form>
            <h5 class="text-white comfortaa-light text-center" style="margin-bottom: 20px;">Para cadastrar um usuário administrativo, entre em contato com Cristiano Lacerda.</h5>
        </section>
    </div>
    <footer>
        <h6 class="text-white comfortaa-light text-center">Copyright 2022 © por Flare team.</h6>
    </footer>

</body>

</html>